# Core Libraries
pydantic
python-dotenv
typing_extensions

# FastAPI
fastapi

# LangChain Core and Base Packages
langchain
langchain_core
python-dotenv
# LangChain Extensions
langchain_chroma
langchain_community
langchain_huggingface
langchain_mistralai
langchain_openai
langchain_text_splitters

# Other Dependencies
langgraph
